<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete Password</title>
</head>
<body>
    <h1>Delete Password</h1>
    <form method="post" action="{{ url_for('delete_password_route') }}">
        <label for="website">Website:</label>
        <input type="text" id="website" name="website" required>
        <br>
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>
        <br>
        <input type="submit" value="Delete Password">
    </form>
</body>
</html>
