<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Insert Password</title>
</head>
<body>
    <h1>Insert Password</h1>
    <form method="post" action="{{ url_for('insert_password_route') }}">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>
        <br>
        <label for="website">Website:</label>
        <input type="text" id="website" name="website" required>
        <br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
        <br>
        <input type="submit" value="Insert Password">
    </form>
</body>
</html>
